Repository FishHawk/auto-novel, pull requests merged in 2025-04, with the labels that each got.

#160 fix(web): 修复 markdown 编辑器切换预览后输入框丢失了编辑历史
  web/src/pages/components/markdown/MarkdownEditor.vue
Labels: bug, 模块：web

#167 feat(web): 改进删除评论功能
  web/src/components/comment/CommentItem.vue
  web/src/components/comment/CommentList.vue
  web/src/components/comment/CommentThread.vue
Labels: 模块：web

#174 feat(web): 手动屏蔽部分用户评论
  web/src/components/comment/CommentItem.vue
  web/src/components/comment/CommentThread.vue
  web/src/data/index.ts
  web/src/data/stores/BlockUserCommentRepository.ts
  web/src/data/stores/index.ts
Labels: 模块：server

#183 feat(web): 为阅读器添加文本下划线样式选项
  web/src/components/CModal.vue
  web/src/data/setting/Setting.ts
  web/src/pages/reader/components/BuildParagraphs.ts
  web/src/pages/reader/components/ReaderContent.vue
  web/src/pages/reader/components/ReaderSettingModal.vue
Labels: 模块：web
